# /etc/systemd/system/webhook.service
[Unit]
Description=Small server for creating HTTP endpoints (hooks)
Documentation=https://github.com/adnanh/webhook/

[Service]
WorkingDirectory=/var/lib/home-operations
ExecStart=/usr/local/bin/webhook -nopanic -hooks power-outage/hooks.json -debug -logfile /var/log/webhook.log
User=root
Group=root

[Install]
WantedBy=multi-user.target
